

<div class="container-fluid"> 

  <div class="row">
    <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
      <p>Test</p>
    </div>
  </div>

  <div class="row"> 

    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"> 
    <div fxLayout="column" > 
        <img class="img-fluid" height="80%" width="50%" src="../../assets/resume.jpg" >
      </div>
    </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
          <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="center none">
            <p>Test</p>
          </div>
        </div>


    </div>


<div class="row">
  <div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="center center">
    <a routerLink="/website-development">Website development</a>
    <a routerLink="/app-development">App development</a>
  </div>
</div>
</div>
<router-outlet></router-outlet>

